.buttonContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.button {
  text-transform: capitalize;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  transition: 
    background-color 0.2s,
    color 0.2s
}

.selected {
  border-width: 2px;
  color: rgb(234, 234, 234);
  background-color: rgb(19, 49, 114);
  border-color: rgb(234, 234, 234);
  box-shadow: black 0 0 7px 0.3px;
}