.inputWrap {
  position: relative;
  width: 10rem;
}

.input {
  width: inherit;
  border-radius: 3px;
}

.list {
  width: 100%;
  margin: inherit;
  padding: inherit;
  position:absolute;
  background-color: rgb(245, 245, 245)
}

.listItem {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content:space-between;
  align-items: center;

  * {
    padding: 0 0.5rem ;
  }
}

.listItem:focus {
  outline: solid;
}

.listItem:nth-child(even) {
  background-color: rgb(225, 225, 225)
}