@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;700;900&family=Spline+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Spline Sans", sans-serif;
}